{exp:autocomplete_search:query
    search_in="everywhere"
    channel="not category_information|itunes_rss|feed|seo_feeds|client_list|collections|new_year_cards|rss|startpage|non_structure_pages|certifications|human_resources|image_database|landing_pages|inspirations|microsites|pages|reports"
    where="all"
    show_expired="no"
    show_future_entries="no"
    status="published"
    result_page="autocomplete_search/result"
    no_result_page="autocomplete_search/no_result"
    status="published"
}

{exp:search:do_search}
